.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cityFormInfo {
  margin-top: 5%;
}

h1 {
  padding-top: 150px;
}
.fig-parent, h1, form, .cityFormInfo {
  margin-left: 40%;
}

.fig-caption {
  font-weight: bold;
  color: rgb(201, 35, 52);
  width: 350px;
}

.formDivApp {
  /* background-color: hsla(357, 26%, 74%, 0.5); */
  background-color: hsla(344, 26%, 93%, 0.4);

  /* hsla(344, 26%, 93%, 0.8) */
  /* hsla(357, 26%, 74%, 0.5) */
}

section {
  background-color:rgba(75, 71, 64, 0.5);
  width: 100%;
  height: 100%;
  padding: 100px;
}

body {
  background-image: url('../src/images/luca-_J5SQg9nYzo-unsplash.jpg');
}


.alertMessage {
  margin-left: 35%;
  align-items: center;
  opacity: 0.5;
  align-items: center;
  width: 450px;
}

/* added styling */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding-bottom: 250px; */
  padding-top: 80px;
}
.reactCard {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

.reactCard:hover {
  transform: scale(1.01,1.01);
  box-shadow: 0 0 50px black;
}

.cardTitle {
  color: #de6288;
  cursor: pointer;  
}

.row {
  display: flex;
  justify-content: center;
  font-size: 100%;
}
